<!DOCTYPE html>
<html ng-app="stellarExplorer">
<head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular.min.js"></script>

<script src="./scripts/vendor/base58.js"></script>

<script src="./scripts/app.js"></script>

<script src="./scripts/controllers/appController.js"></script>

<script src="./scripts/directives/balance.js"></script>
<script src="./scripts/directives/incomingTransactions.js"></script>
<script src="./scripts/directives/highlightChanges.js"></script>
<script src="./scripts/directives/offers.js"></script>
<script src="./scripts/directives/trustLines.js"></script>

<script src="./scripts/services/callbackHelper.js"></script>
<script src="./scripts/services/federation.js"></script>
<script src="./scripts/services/requestHelper.js"></script>
<script src="./scripts/services/reverseFederation.js"></script>
<script src="./scripts/services/stellarTxt.js"></script>

<script src="./scripts/utils/utils.js"></script>

<link rel="stylesheet" href="./style.css" />
</head>

<body ng-controller="appController"
    <div class="border-wrapper">
        <section class="search-bar">
            <div id="explorer-search-form">
                <form>
                    <!-- IMPORTANT: inputs are whitespace sensitive -->
                    <input type="text" ng-model="query"><!--
                    --><input type="submit" ng-click="updateAccountData()" name="search" title="Search" value="Search">
                </form>
            </div>
        </section>
    </div>
    <div class="border-wrapper">
        <section class="search-bar">
            <div id="explorer-search-form">
                <form>
                    <!-- IMPORTANT: inputs are whitespace sensitive -->
                    <label class="network-label">Network:</label>
                    <input type="button" ng-click="useLiveConfig()" ng-class="{selected: config == liveConfig}"  name="Live" title="Live" value="Live"><!--
                    --><input type="button" ng-click="useTestConfig()" ng-class="{selected: config == testConfig}" name="Test" title="Test" value="Test">
                </form>
            </div>
        </section>
    </div>
    <div ng-show="loading">
        <div class="border-wrapper">
            <section class="main-title">
                <h2>Loading...</h2>
            </section>
        </div>
    </div>
    <div ng-hide="loading">
        <div ng-show="queryValid && !emptyQuery">
            <div>
                <section class="main-title">
                    <h2>Search results for: <strong>{{ lastQuery }}</strong></h2>
                    <h2 ng-show="address && lastQuery != address">Address: <strong>{{ address }}</strong></h2>
                </section>
            </div>
            <div class="border-wrapper">
                <section class="explorer-row">
                    <balance></balance>
                </section>
            </div>
            <div class="border-wrapper">
                <section class="explorer-row">
                    <trust-lines></trust-lines>
                </section>
            </div>
            <div class="border-wrapper">
                <section class="explorer-row">
                    <offers></offers>
                </section>
            </div>
            <div class="border-wrapper">
                <section class="explorer-row">
                    <incoming-transactions></incoming-transactions>
                </section>
            </div>
        </div>
        <div ng-hide="queryValid || emptyQuery">
            <section class="main-title">
                <h2>No results for <strong>{{ lastQuery }}</strong></h2>
            </section>
        </div>
    </div>
</body>
</html>
