<section class="column-title">
    <h3>Trust Received</h3>
</section>
<section class="column-content">
    <h5 ng-show="emptyTrustReceived" class="no-data">No trust lines received</h5>
    <table ng-show="!emptyTrustReceived">
          <tbody>
              <tr>
                  <th>Currency</th>
                  <th>Balance</th>
                  <th>Limit</th>
                  <th>Issuer</th>
              </tr>
              <tr ng-show="line.limit_peer > 0" ng-repeat="line in account_lines track by $index">
                  <td>{{ line.currency }}</td>
                  <td class="trust-balance" ng-class="balanceClass(line.balance)" highlight-changes="line.balance">{{ line.balance | toFinancial }}</td>
                  <td>{{ line.limit_peer | toFinancial }}</td>
                  <td class="query-address" ng-click="queryAddress(line.account)">{{ line.account }}</td>
              </tr>
        </tbody>
    </table>
</section>

<section class="column-title">
    <h3>Trust Given</h3>
</section>
<section class="column-content">

    <h5 ng-show="emptyTrustIssued" class="no-data">No trust lines set</h5>
    <table ng-show="!emptyTrustIssued">
          <tbody>
              <tr>
                  <th>Currency</th>
                  <th>Balance</th>
                  <th>Limit</th>
                  <th>Issuer</th>
              </tr>
              <tr ng-show="line.limit > 0" ng-repeat="line in account_lines track by $index">
                  <td>{{ line.currency }}</td>
                  <td class="trust-balance" ng-class="balanceClass(line.balance)" highlight-changes="line.balance">{{ line.balance | toFinancial }}</td>
                  <td>{{ line.limit | toFinancial }}</td>
                  <td class="query-address" ng-click="queryAddress(line.account)">{{ line.account }}</td>
              </tr>
        </tbody>
    </table>
</section>