<section class="column-title">
    <h3>Trust Received</h3>
</section>
<section class="column-content">
    <h5 ng-show="!trustReceived.length" class="no-data">No trust lines received</h5>
    <table ng-show="trustReceived.length">
          <tbody>
              <tr>
                  <th>Currency</th>
                  <th>Balance</th>
                  <th>Limit</th>
                  <th>From Account</th>
              </tr>
              <tr ng-repeat="line in trustReceived track by $index">
                  <td>{{ line.currency }}</td>
                  <td class="trust-balance" ng-class="balanceClass(line.balance)" highlight-changes="line.balance">{{ line.balance | toFinancial }}</td>
                  <td>{{ line.limit_peer | toFinancial }}</td>
                  <td class="query-address" ng-click="queryAddress(line.account)">{{ line.account }}</td>
              </tr>
        </tbody>
    </table>
</section>

<section class="column-title">
    <h3>Trust Given</h3>
</section>
<section class="column-content">

    <h5 ng-show="!trustGiven.length" class="no-data">No trust lines given</h5>
    <table ng-show="trustGiven.length">
          <tbody>
              <tr>
                  <th>Currency</th>
                  <th>Balance</th>
                  <th>Limit</th>
                  <th>To Issuer</th>
              </tr>
              <tr ng-repeat="line in trustGiven track by $index">
                  <td>{{ line.currency }}</td>
                  <td class="trust-balance" ng-class="balanceClass(line.balance)" highlight-changes="line.balance">{{ line.balance | toFinancial }}</td>
                  <td>{{ line.limit | toFinancial }}</td>
                  <td class="query-address" ng-click="queryAddress(line.account)">{{ line.account }}</td>
              </tr>
        </tbody>
    </table>
</section>
